/**
Style sheet with styling properties used in all the screens
@author Group 21
created 20th March 2019
 */

/**
------------------------------------------------------------------------------------------------------------------------
                                                    Login Screen
------------------------------------------------------------------------------------------------------------------------
 */

#loginScreen{
    -fx-background-image: url("../image/loginBackground.gif");
    -fx-background-repeat: repeat;
    -fx-background-size: 800.0 600.0;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0);
}

.loginLabel{
    -fx-font-family: "Arial Black";
}

.loginTextField{
    -fx-background-color: #effaff;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
}

.musicMute{
    -fx-background-image: url("../image/mute.png");
    -fx-background-color: transparent;
    -fx-background-repeat: repeat;
    -fx-background-size: 25.0 25.0;
    -fx-background-position: center center;
}

.musicMute:selected{
    -fx-background-image: url("../image/muted.png");
    -fx-background-color: transparent;
    -fx-background-repeat: repeat;
    -fx-background-size: 25.0 25.0;
    -fx-background-position: center center;
}


.betArrow{
    -fx-background-color: #654b00;
    -fx-border-color: black;
}

.betArrow:hover{
    -fx-background-color: #8c6d13;
    -fx-border-color: black;
}

.betBackground{
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
    linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0, 255.0, 255.0, 0.9), rgba(255.0, 255.0, 255.0, 0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 30.0px;
}

/**
------------------------------------------------------------------------------------------------------------------------
                                                    Lobby Screen
------------------------------------------------------------------------------------------------------------------------
 */

.lobbyListView{
    -fx-background-color: #9aa3a8;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-border-color: #9aa3a8;
    -fx-text-fill: #ffffff;
}

.lobbyChatField{
    -fx-background-color: #c6cfd4;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.lobbyListView .viewport, .lobbyListView .content, .lobbyListView .scroll-pane .corner {
    -fx-background-color: transparent ;
    -fx-text-fill: white;
}

.lobbyListView .scroll-bar {
    -fx-background-color:transparent;
}

.lobbyListView .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.lobbyListView .scroll-bar .thumb {
    -fx-background-color:derive(#5b5b5b, 50.0%);
}

.lobbyListView .scroll-bar .thumb:hover {
    -fx-background-color:derive(#5b5b5b, 70.0%);
}

.lobbyListView .increment-button ,.lobbyListView .decrement-button {
    -fx-scale-x:0.0;
}

.lobbyListView .track  {
    -fx-background-color:transparent;
    -fx-text-fill: white;
}

.lobbyScreen{
    -fx-background-image: url("../image/rain1.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 1366, 768.0  ;
    -fx-background-position: center;
}

.lobbyLabel{
    -fx-text-fill: white;
}
.joinButton {
    -fx-background-color: linear-gradient(from 75.0% 75.0% to 100.0% 100.0%, #F6F6F6, #AAAAAA);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 15.0px;
}

.joinButton:hover{
    -fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #AAAAAA, #F6F6F6);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 15.0px;
}

.lobbyButton {
    -fx-background-color: linear-gradient(from 75.0% 75.0% to 100.0% 100.0%, #F6F6F6, #AAAAAA);
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-border-color: #6f9bbc ;
    -fx-border-width: 1.0 ;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-text-fill: #606060;
    -fx-font-weight: bold;
    -fx-font-size: 15.0px;
}

.lobbyButton:hover{
    -fx-background-color: linear-gradient(from 25.0% 25.0% to 100.0% 100.0%, #AAAAAA, #F6F6F6);
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-border-color: #6f9bbc ;
    -fx-border-width: 1.0 ;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 15.0px;
}

/**
------------------------------------------------------------------------------------------------------------------------
                                                    Game Screen
------------------------------------------------------------------------------------------------------------------------
 */


.gameBackground{
    -fx-background-image: url("../image/background.jpg");
    -fx-background-repeat: repeat;
    -fx-background-size: 450.0 450.0;
    -fx-background-position: center center;
}

.gameLabel {
    -fx-font-family: "Arial Black";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );
}

.GameButton {
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
    linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0, 255.0, 255.0, 0.9), rgba(255.0, 255.0, 255.0, 0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 30.0px;
    -fx-padding: 15.0 30.0 15.0 30.0;
}

.GameButton:pressed{
    -fx-background-color: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffef84, #f2ba44),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 100.0%, #f8c202 50.0%, #eea10b 0.0%),
    linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0, 255.0, 255.0, 0.9), rgba(255.0, 255.0, 255.0, 0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0, 1.0, 2.0, 3.0, 0.0;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 30.0px;
    -fx-padding: 15.0 30.0 15.0 30.0;
}

.chatBox {
    -fx-background-color:#333333;
    -fx-min-height:400.0px;
    -fx-min-width:200.0px;
}

.gameListView{
    -fx-background-color: #a2adb2;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;

    -fx-border-color: #030306;
    -fx-text-fill: #ffffff;
    -fx-opacity: 85%;

}

.gameChatField{
    -fx-background-color: #c6cfd4;
    -fx-background-radius: 15.0;
    -fx-border-radius: 15.0;
    -fx-border-color: #000000;
    -fx-text-fill: #000000;
    -fx-prompt-text-fill: #a0a0a0;
    -fx-opacity: 85%;
}



